[[inputs.{{ item.key }}]]
{% if item.value.config is defined and item.value.config is iterable %}
{% for items in item.value.config %}
  {{ items }}
{% endfor %}
{% endif %}
{% if item.value.tagpass is defined and item.value.tagpass is iterable %}
[{{ item.key }}.tagpass]
{% for items in item.value.tagpass %}
    {{ items }}
{% endfor %}
{% endif %}
{% if item.value.tagdrop is defined and item.value.tagdrop is iterable %}
[{{ item.key }}.tagdrop]
{% for items in item.value.tagdrop %}
    {{ items }}
{% endfor %}
{% endif %}
{% if item.value.fieldpass is defined and item.value.fieldpass is iterable %}
[{{ item.key }}.fieldpass]
{% for items in item.value.fieldpass %}
    {{ items }}
{% endfor %}
{% endif %}
{% if item.value.fielddrop is defined and item.value.fielddrop is iterable %}
[{{ item.key }}.fielddrop]
{% for items in item.value.fielddrop %}
    {{ items }}
{% endfor %}
{% endif %}
